@model IEnumerable<ProyectoBiblioteca.Models.Editorial>


<div id="busqeditorial">
    @*Clases para la tabla*@
    <table class="table jumbotron table-bordered text-center table-hover">
        @*Clases para la tabla*@
        <tr class="info">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="text-center">Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @*Estilo de los Botones*@
                    <button class="btn-lg btn-info" style="color:white" title="Editar Autor">
                        @Html.ActionLink(" ", "Edit", new { id = item.Id_editorial }, new { @class = "far fa-edit" })
                    </button>
                    <button class="btn-lg btn-success" title="Información del Autor">
                        @Html.ActionLink("   ", "Details", new { id = item.Id_editorial }, new { @class = "fas fa-info-circle" })
                    </button>
                    <button class="btn-lg" style="background-color:rgba(255, 106, 0, 0.75);" title="Eliminar Autor">
                        @Html.ActionLink("   ", "Delete", new { id = item.Id_editorial }, new { @class = "fas fa-trash" })
                    </button>
                    @*Estilo de los Botones*@
                </td>
            </tr>
        }

    </table>

</div>

