@model IEnumerable<ProyectoBiblioteca.Models.Libro>

<div id="busqlibro">
    <table class="table jumbotron table-bordered text-center table-hover">
        <tr class="info">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th class="text-center">
                Edición
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Fecha_lanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>*@
            <th class="text-center">
                Número de páginas
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th class="text-center">
                Autor
            </th>
            <th class="text-center">
               Categoría
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Editorial.Nombre)
            </th>*@
            <th class="text-center">
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edicion)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Fecha_lanzamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idioma)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroPaginas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Categoria1)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Editorial.Nombre)
                </td>*@
                <td>
                    @*Estilo de los Botones*@
                    <button class="btn-lg btn-info" style="color:white" title="Editar Autor">
                        @Html.ActionLink(" ", "Edit", new { id = item.Id_libro }, new { @class = "far fa-edit" })
                    </button>
                    <button class="btn-lg btn-success" title="Información del Autor">
                        @Html.ActionLink("   ", "Details", new { id = item.Id_libro }, new { @class = "fas fa-info-circle" })
                    </button>
                    <button class="btn-lg" style="background-color:rgba(255, 106, 0, 0.75);" title="Eliminar Autor">
                        @Html.ActionLink("   ", "Delete", new { id = item.Id_libro }, new { @class = "fas fa-trash" })
                    </button>
                    @*Estilo de los Botones*@
                </td>
            </tr>
        }

    </table>

</div>
