@model IEnumerable<ProyectoBiblioteca.Models.Prestamo>


@*Clases para la tabla*@
@*Clases para la tabla*@
<table class="table jumbotron table-bordered text-center table-hover">
    @*Clases para la tabla*@
    <tr class="info">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Fecha_entrega)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Fecha_devolucion)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </th>
        <th class="text-center">Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                Fecha de entrega
            </td>
            <td>
                Fecha de devolución
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                Cliente
            </td>
            <td>
               Usuario
            </td>
            <td>
                @*Estilo de los Botones*@
                <button class="btn-lg btn-info" style="color:white" title="Editar Prestamo">
                    @Html.ActionLink(" ", "Edit", new { id = item.Id_prestamo }, new { @class = "far fa-edit" })
                </button>
                <button class="btn-lg btn-success" title="Información del Prestamo">
                    @Html.ActionLink("   ", "Details", new { id = item.Id_prestamo }, new { @class = "fas fa-info-circle" })
                </button>
                <button class="btn-lg" style="background-color:rgba(255, 106, 0, 0.75);" title="Eliminar Prestamo">
                    @Html.ActionLink("   ", "Delete", new { id = item.Id_prestamo }, new { @class = "fas fa-trash" })
                </button>
                @*Estilo de los Botones*@


            </td>
        </tr>
    }

</table>



