@model ProyectoBiblioteca.Models.Devoluciones

@{
    ViewBag.Title = "Create";
}

<h2 class="colortitulo">Datos de la devolución</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2 colortitulo">ID Prestamo </label>
            <div class="col-md-10">
                @*Iconos dentro del input*@
                <div class="input-group">
                    <span class="input-group-addon"> <i class="fas fa-file-signature"></i></span>
                    @Html.DropDownList("Id_prestamo", null, htmlAttributes: new { @class = "form-control" })
                </div>
                @*Iconos dentro del input*@
                @Html.ValidationMessageFor(model => model.Id_prestamo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 colortitulo">Fecha de devolución </label>
            <div class="col-md-10">
                @*Iconos dentro del input*@
                <div class="input-group">
                    <span class="input-group-addon"> <i class="fas fa-calendar-alt"></i></span>
                    @Html.EditorFor(model => model.FechaDevolucion, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @*Iconos dentro del input*@

                @Html.ValidationMessageFor(model => model.FechaDevolucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 colortitulo">Observaciones</label>
            <div class="col-md-10">
                @*Iconos dentro del input*@
                <div class="input-group">
                    <span class="input-group-addon"> <i class="fas fa-calendar-alt"></i></span>
                    @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @*Iconos dentro del input*@

                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="form-group ">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Agregar Devolución" class="btn btn-success " />

                </div>
            </div>
        </div>
    </div>
}

@*Botón de Regresar*@
<div>

    <button class="btn btn-lg btn-primary" title="Regresar al Listado">
        @Html.ActionLink("   ", "Index", null, new { @class = "fas fa-chevron-circle-left" })
    </button>
</div>
@*Botón de Regresar*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
